.FormAddGame{
    display: grid;
    place-items: center;
    width: auto;
    height: auto;
    padding: 20px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    box-shadow: -30px -30px 20px rgb(155, 153, 153),
       30px  30px 20px rgba(47, 67, 251, 0.826);
    border: 1px solid rgb(141, 146, 242);
}
.title_Add_Games{
    color: rgba(47, 67, 251, 0.826);
}
.form-control{
    width: 350px;
}
.description{
    width: 100%;
    height: 100px;
}
button{
    width:  150px;
    margin: 5px;
}